@page "/"

<h1><p style="font-family:'Courier New'">Danmarks fastfood</p></h1>

<p style="font-family:'Courier New'"><SurveyPrompt Title="Spist hos os før ?"/></p>
<p style="color:pink">
    <h3><p style="font-family:'Courier New'">Betaling ved døren, så du er tryg med dine penge</p></h3><br/><br/>

    <h3><p style="font-family:'Courier New'">Aktiv feedback til os i køkkenet så vi ved, hvad i som kunder er glade for</p></h3><br/><br/>

    <h3><p style="font-family:'Courier New'">Massere kærlighed i vores mad</p></h3>
    
    <img src="boog.gif" alt="Italian Trulli">
</p>
