@inherits LayoutComponentBase

<div class="page" style="background-color:#9debf1;">
    <div class="sidebar">
        <NavMenu/>
    </div>
    <div class="main">
    <div class="content px-4">
        @Body
    </div>
    
     </div>
</div>
