

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span><p style="font-family:'Courier New'"> Home  </p>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Menu">
                <span class="oi oi-list-rich" aria-hidden="true"></span><p style="font-family:'Courier New'"> Menu </p>
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}